*{
    margin: 0;
    padding: 0;
}
.main3{
    /* border: 1px solid black; */
    width: 1150px;
    margin: auto;
    margin-top: 50px;   
    display: grid;
    grid-template-columns: auto auto auto auto;
 
    
}

.card{
   
    box-shadow: 0 4px 8px 0 rgba(247, 244, 244, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
    
    
    
}


.card-title{
    width: auto;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;
    color: #000000;
}
.card-text{
  
    margin-top: 5px;
    border: 2px solid white;
                                                                                                                                                                                                                                                   
}

.card-title:hover{
    color: #F06E27;
}

.cart-from{
font-size: 13px;
display: inline;
font-style: italic;

}
.rs{

    font-size: 16px;
    display: inline;
}
.op{
    display: inline;
    text-decoration: line-through;
    opacity: 0.50;
    font-size: 16px;
    margin-right: 55px;
}
.fs{
    width: 265px;
    height: 32px;
    text-align: center;
    background-color: #FFF5EF;
}   
.nt{
    width:265px;
    height: 30px;
    color: #FFF5EF;
    background-color: #F06E27;
    border: 3px solid #F06E27;

}
@media only screen and (max-width: 800px) {
    .nt,.fs{
        width: 100%;
    }
    .main3{
     display: grid;
      grid-template-columns: auto auto;
     width: 750px;
    }
}